.myImgPortfolio {
    max-width: 350px;
    position: absolute;
    left: 0;

    .row {
        margin: 0;
    }
}

.colPortfolioNav {
	display: flex;
	justify-content: space-between;
    align-items: center;
    
    li button {
        background-color: transparent;
        border: none;
        color: #ffffff;
        outline: none;
    }
}

.colPortfolioNav .nav button:hover {
    color: #E69C37;
}

.portfolioGallery {
    margin-bottom: 100px;
}

.portfolioGallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolioGallery li {
    position: relative;
    width: 350px;
}

.portfolioGallery .row {
    margin: 0;
}

.orangeRight:after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #E69C37;
    content: '';
    display: block;

}
.orangeTop:after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid #E69C37;
    content: '';
    display: block;
}

.orangeLeft:after {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border: 1px solid #E69C37;
    content: '';
    display: block;
}

.orangeBottom:after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #E69C37;
    content: '';
    display: block;
}

.project1,
.project2,
.project3 {
    margin-bottom: 50px;
}

.portfolioToLive {
    position: absolute;
    color: #E69C37;
    background-color: transparent;
    border: 1px solid #E69C37;
    border-radius: 3px;
    padding: 5px 10px;
    top: 100px;
    left: 40px;

    a {color: #E69C37;}
}

.portfolioToLive:hover {
    background-color: rgba(230, 156, 55, 0.5);
    border-radius: 5px;
    text-decoration: none;
}

.followPort {
    margin-top: 100px;
    text-align: center;
    // margin-bottom: 100px;

    ul {
        margin-bottom: 20px;
    }

    li {
        margin: 0 5px;
    }

    .followMe li i {
        border: 2px solid rgba(133, 133, 133, 1);
        border-radius: 5px;
        padding: 5px;
    }

}
