.mainResume {
    height: 100vh;
    position: relative;
}

.backgroundImageResume {
    background: rgb(84,85,85);
    background: linear-gradient(0deg, rgba(84,85,85,1) 5%, rgba(48,48,48,1) 10%, rgba(48,48,48,1) 90%, rgba(84,85,85,1) 95%);      
}

.myImgResume {
    max-width: 350px;
    position: absolute;
    left: 0;

    .row {
        margin: 0;
    }
}

.number {

    padding-top: 50px;
    div {
        display: flex;
        justify-content: flex-end;
    }
}

.numberNav {
    display: flex;
    align-items: center;

    p {
        margin-bottom: 0;
    }

}

.numberNav i {
    margin-right: 20px;
}

.resumeNavMain {
    margin-bottom: 100px;
}

.colNav {
	display: flex;
    justify-content: space-between;
    
    .navResume {
        align-items: center;

        li {
            padding: 0 10px;
        }
    }
}

.rowCompetences {
    margin-bottom: 100px;
}

.skillsMain {
    margin-bottom: 100px;
}

.eduMain {
    margin-bottom: 100px;
}

.navEdu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 255px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #383838;
        justify-content: center;
        padding: 50px 0;
    }

    i {
        font-size: 4rem;
    }
}

.skills {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: 270px;
        text-align: center;

        p {
            visibility: hidden;
        }
    }

    i {
        font-size: 10rem;
        color: #e69c37;
    }

    .fabPadTop {
        margin-top: 40px;
    }

    .fabBorderBot {
        border-bottom: 1px solid $text-color-secondary;
    }

    .devicon i {
        font-size: 9.7rem;
    }
}

.skills li:hover {
    
    p {
        visibility: visible;
    }
}

.expMainNav {
    margin-bottom: 50px;
}

.colExperiencesNav {
    display: flex;
    justify-content: space-between;

    ul {
        align-items: center;
    }

    button {
        background-color: transparent;
        border: none;
        color: $text-color-main;
    }
    button:hover {
        color: #e69c37;
        outline: 0 !important;
    }

    button:focus {
        outline: none;
    }
}

.colourHighlight {
	height: 10px;
	border: 2px solid #e69c37;
	width: 1px;
	margin: 0 auto;
}

.colourHighlightOne,
.colourHighlightTwo,
.colourHighlightThree,
.colourHighlightFour,
.colourHighlightFive,
.colourHighlightSix {
    visibility: hidden;
	height: 10px;
	border: 2px solid #e69c37;
	width: 1px;
	margin: 0 auto;
}

.colourHighlightShow {
    visibility: visible !important;
}


.roles {
    justify-content: center;

    li {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        background-color: #383838;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
}

.jobTitle {
    display: flex;
    padding: 25px 0;
    flex-direction: column;
    width: 85%;

    div {
        margin-left: 10px;
    }

    i {
        font-size: 4rem;
    }

    .jobTitleSub {
        display: flex;
        margin-left: 0;

        .jobSubImg {
            margin-left: 0;
        }
    }
}

.skillsMain .col div,
.eduMain .title {
    margin-bottom: 50px;
}

.expMain {
    margin-bottom: 100px;
}

.footerResume {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background-image:
    linear-gradient(0deg, rgba(84,85,85,0.7) 10%, rgba(48,48,48,1) 95%),
    url("../assets/Toronto3-mod.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 45%;

    .follow {
        text-align: center;
        padding-bottom: 10px;
    }
}


.followResume {
    margin-top: 100px;
    text-align: center;
    // margin-bottom: 100px;

    ul {
        margin-bottom: 20px;
    }

    li {
        margin: 0 5px;
    }

    .followMe li i {
        border: 2px solid rgba(133, 133, 133, 1);
        border-radius: 5px;
        padding: 5px;
    }

}

.formButton {
    display: flex;
    align-items: center;

    p {
        margin-bottom: 0;
        margin-left: 25px;
        color: $text-color-secondary;
    }
}