html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* CSS */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Signika Negative', sans-serif;
  font-size: 2rem;
  color: #ffffff;
}

button {
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 20px 0;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1.7rem;
}

.bodyMain {
  border: 5px solid #e69c37;
}

.backgroundImage {
  background-image: url(../assets/water-architecture-colourful-church-test1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-inner {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

.wrapper-outer {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: white;
}

img {
  display: block;
  width: 100%;
}

.colouredText {
  color: #e69c37 !important;
}

.lightText {
  color: #ADADAD;
}

a:hover {
  color: #e69c37;
  text-decoration: none;
}

.colourHighlight {
  height: 10px;
  border: 2px solid #e69c37;
  width: 1px;
  margin: 0 auto;
}

.colourHighlightNav {
  visibility: hidden;
  height: 10px;
  border: 2px solid #e69c37;
  width: 1px;
  margin: 0 auto;
}

.colourHighlightOne,
.colourHighlightTwo,
.colourHighlightThree,
.colourHighlightFour,
.colourHighlightFive,
.colourHighlightSix {
  visibility: hidden;
  height: 10px;
  border: 2px solid #e69c37;
  width: 1px;
  margin: 0 auto;
}

.colourHighlightShow {
  visibility: visible !important;
}

.contactMe {
  margin-bottom: 50px;
}

.indexNav {
  margin-top: 100px;
}

.indexNav input {
  display: none;
}

.nav li {
  margin: 0 10px;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContent .contactMeButton {
  margin-top: 50px;
  background-color: transparent;
  border-radius: 5px;
  color: #E69C37;
  padding: 5px 20px;
  border: solid #E69C37 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.mainContent .contactMeButton a {
  color: #E69C37;
}

.mainContent .contactMeButton:hover {
  background-color: rgba(230, 156, 55, 0.5);
  border-radius: 5px;
  text-decoration: none;
}

.mainContent .contactMeButton:active {
  position: relative;
  top: 1px;
}

.myBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.myBtn a {
  color: #E69C37;
}

.rowAbout {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.colAbout {
  padding: 0;
}

.mainContent .myImg {
  max-width: 500px;
}

.myImg .row {
  margin: 0;
}

.genPadding {
  padding: 0;
}

.row {
  overflow: hidden;
  position: relative;
}

.borderBottom:after {
  position: absolute;
}

.borderLeft:after {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border: 1px solid black;
  content: '';
  display: block;
}

.borderRight:after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid black;
  content: '';
  display: block;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.about .aboutMe {
  width: 60%;
  padding-left: 200px;
}

.about .aboutMe h2 {
  padding-bottom: 20px;
}

.bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 120px;
  height: 30px;
  padding: 0px;
  background: #e69c37;
  border-radius: 0px;
  color: black;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 5px 0;
  border-color: #e69c37 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -8px;
  left: 5px;
}

.followIndex {
  text-align: center;
  margin-bottom: 100px;
}

.followIndex li {
  margin: 0 5px;
}

.followIndex .followMe li i {
  border: 2px solid #858585;
  border-radius: 5px;
  padding: 5px;
}

.footerIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMeMain h2 {
  margin-bottom: 30px;
}

.aboutMeMain h3 {
  margin-bottom: 30px;
}

.aboutMeMain .bubble::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #e69c37 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -8px;
  left: 54px;
}

.footerAbout {
  margin-top: 500px;
}

.myImgPortfolio {
  max-width: 350px;
  position: absolute;
  left: 0;
}

.myImgPortfolio .row {
  margin: 0;
}

.portfolioGallery {
  margin-bottom: 100px;
}

.portfolioGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioGallery li {
  position: relative;
  width: 355px;
}

.portfolioGallery .row {
  margin: 0;
}

.orangeRight:after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #E69C37;
  content: '';
  display: block;
}

.orangeTop:after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid #E69C37;
  content: '';
  display: block;
}

.orangeLeft:after {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border: 1px solid #E69C37;
  content: '';
  display: block;
}

.orangeBottom:after {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #E69C37;
  content: '';
  display: block;
}

.project1,
.project2,
.project3 {
  margin-bottom: 50px;
}

.portfolioToLive {
  position: absolute;
  color: #E69C37;
  background-color: transparent;
  border: 1px solid #E69C37;
  border-radius: 3px;
  padding: 5px 10px;
  top: 100px;
  left: 40px;
}

.portfolioToLive a {
  color: #E69C37;
}

.portfolioToLive:hover {
  background-color: rgba(230, 156, 55, 0.5);
  border-radius: 5px;
  text-decoration: none;
}

.followPort {
  margin-top: 100px;
  text-align: center;
}

.followPort ul {
  margin-bottom: 20px;
}

.followPort li {
  margin: 0 5px;
}

.followPort .followMe li i {
  border: 2px solid #858585;
  border-radius: 5px;
  padding: 5px;
}

.mainResume {
  height: 100vh;
  position: relative;
}

.backgroundImageResume {
  background: #545555;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #545555), color-stop(10%, #303030), color-stop(90%, #303030), color-stop(95%, #545555));
  background: linear-gradient(0deg, #545555 5%, #303030 10%, #303030 90%, #545555 95%);
}

.myImgResume {
  max-width: 350px;
  position: absolute;
  left: 0;
}

.myImgResume .row {
  margin: 0;
}

.number {
  padding-top: 50px;
}

.number div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.numberNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numberNav p {
  margin-bottom: 0;
}

.numberNav i {
  margin-right: 20px;
}

.resumeNavMain {
  margin-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.colNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.colNav .navResume {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colNav .navResume li {
  padding: 0 10px;
}

.rowCompetences {
  margin-bottom: 100px;
}

.skillsMain {
  margin-bottom: 100px;
}

.eduMain {
  margin-bottom: 100px;
}

.navEdu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navEdu li {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #383838;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.navEdu i {
  font-size: 4rem;
}

.skills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills li {
  width: 270px;
  text-align: center;
}

.skills li p {
  visibility: hidden;
}

.skills i {
  font-size: 10rem;
  color: #e69c37;
}

.skills .fabPadTop {
  margin-top: 40px;
}

.skills .fabBorderBot {
  border-bottom: 1px solid #ADADAD;
}

.skills .devicon i {
  font-size: 9.7rem;
}

.skills li:hover p {
  visibility: visible;
}

.expMainNav {
  margin-bottom: 50px;
}

.colExperiencesNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colExperiencesNav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colExperiencesNav button {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.colExperiencesNav button:hover {
  color: #e69c37;
  outline: 0 !important;
}

.colExperiencesNav button:focus {
  outline: none;
}

.roles {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roles li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  background-color: #383838;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

.jobTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
}

.jobTitle div {
  margin-left: 10px;
}

.jobTitle i {
  font-size: 4rem;
}

.jobTitle .jobTitleSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.jobTitle .jobTitleSub .jobSubImg {
  margin-left: 0;
}

.skillsMain .col div,
.eduMain .title {
  margin-bottom: 50px;
}

.expMain {
  margin-bottom: 100px;
}

.footerResume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(84, 85, 85, 0.7)), color-stop(95%, #303030)), url("../assets/Toronto3-mod.jpg");
  background-image: linear-gradient(0deg, rgba(84, 85, 85, 0.7) 10%, #303030 95%), url("../assets/Toronto3-mod.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
}

.footerResume .follow {
  text-align: center;
  padding-bottom: 10px;
}

.followResume {
  margin-top: 100px;
  text-align: center;
}

.followResume ul {
  margin-bottom: 20px;
}

.followResume li {
  margin: 0 5px;
}

.followResume .followMe li i {
  border: 2px solid #858585;
  border-radius: 5px;
  padding: 5px;
}

.formButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formButton p {
  margin-bottom: 0;
  margin-left: 25px;
  color: #ADADAD;
}

.contactMain {
  margin-top: 190px;
}

.formMain {
  margin-bottom: 100px;
}

.formMain button {
  background-color: transparent;
  border-radius: 5px;
  color: #E69C37;
  padding: 5px 20px;
  border: solid #E69C37 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.formMain button:hover {
  background-color: rgba(230, 156, 55, 0.5);
  border-radius: 5px;
  text-decoration: none;
}

.formMain button:active {
  position: relative;
  top: 1px;
}

fieldset {
  width: 100%;
  padding: 0;
}

.formAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.formAbout label {
  width: 32%;
}

.formAbout label input {
  width: 100%;
  line-height: 3;
  background-color: #343434;
  color: #ADADAD;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ADADAD;
  padding-left: 20px;
}

.formMisc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.formMisc label {
  width: 32%;
}

.formMisc label input {
  width: 100%;
  line-height: 3;
  background-color: #343434;
  color: #ADADAD;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ADADAD;
  padding-left: 20px;
}

.formMsg {
  margin-bottom: 30px;
}

.formMsg label {
  width: 100%;
}

.formMsg textarea {
  width: 100%;
  height: 300px;
  background-color: #343434;
  color: #ADADAD;
  padding-top: 20px;
  padding-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ADADAD;
  resize: none;
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    left: 0;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #e69c37;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
  }
  #overlay {
    height: 100vh;
    width: 88%;
    background: rgba(84, 85, 85, 0.8);
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #e69c37;
  }
  .indexNav {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .indexNav .nav {
    display: none;
  }
  .indexNav .hamburger {
    font-size: 3.5rem;
  }
  .mainContent {
    margin-top: 0;
  }
  .mainContent .myImg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rowAbout {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .about .aboutMe {
    width: 90%;
    padding-left: 0;
    margin-top: 50px;
  }
  .myImg .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 60%;
  }
  .followIndex {
    text-align: center;
    margin-bottom: 20px;
  }
  .number {
    display: none;
  }
  .myImgResume {
    max-width: 150px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 56%;
    text-align: left;
  }
  .resumeNavMain #overlay {
    height: 100vh;
    width: 100%;
    background: rgba(84, 85, 85, 0.8);
    z-index: 2;
    visibility: hidden;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resumeNavMain #overlay ul {
    height: 100vh;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    display: none;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-bottom: 50px;
  }
  .skills .fabBorderBot {
    border-bottom: none;
  }
  .skills li {
    width: 80px;
  }
  .skills i {
    font-size: 7rem;
  }
  .skills .devicon i {
    font-size: 6.5rem;
  }
  .eduMain {
    margin-bottom: 50px;
  }
  .navEdu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navEdu li {
    margin-bottom: 10px;
  }
  .colExperiencesNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roles li:nth-child(1) {
    margin-bottom: 10px;
  }
  .myImgPortfolio {
    max-width: 150px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .project4,
  .project5 {
    margin-bottom: 50px;
  }
  .aboutMeMain {
    margin-top: 100px;
  }
  .contactMain {
    margin-top: 100px;
  }
  .formAbout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formAbout label {
    width: 100%;
    margin-bottom: 10px;
  }
  .formMisc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formMisc label {
    width: 100%;
    margin-bottom: 10px;
  }
  .formMsg {
    margin-bottom: 10px;
  }
  .formButton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .formButton button {
    width: 100%;
    margin-top: 30px;
  }
  .formButton p {
    width: 100%;
    text-align: left;
    margin-left: 0;
  }
}

@media only screen and (min-width: 461px) and (max-width: 800px) {
  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    left: 0;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #e69c37;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
  }
  #overlay {
    height: 100vh;
    width: 89%;
    background: rgba(84, 85, 85, 0.8);
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 90vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #e69c37;
  }
  .indexNav {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .indexNav .nav {
    display: none;
  }
  .indexNav .hamburger {
    font-size: 3.5rem;
  }
  .mainContent {
    margin-top: 0;
  }
  .mainContent .myImg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rowAbout {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .about .aboutMe {
    width: 90%;
    padding-left: 0;
    margin-top: 50px;
  }
  .myImg .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 60%;
  }
  .followIndex {
    text-align: center;
    margin-bottom: 20px;
  }
  .number {
    display: none;
  }
  .myImgResume {
    max-width: 150px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 56%;
    text-align: left;
  }
  .resumeNavMain #overlay {
    height: 100vh;
    background: rgba(84, 85, 85, 0.8);
    z-index: 2;
    visibility: hidden;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resumeNavMain #overlay ul {
    height: 100vh;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    display: none;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-bottom: 50px;
  }
  .skills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skills .fabBorderBot {
    border-bottom: none;
  }
  .skills li {
    width: 85px;
  }
  .skills i {
    font-size: 7rem;
  }
  .skills .devicon i {
    font-size: 6.5rem;
  }
  .skills .fabPadTop {
    margin-top: 0;
  }
  .eduMain {
    margin-bottom: 50px;
  }
  .navEdu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navEdu li {
    margin-bottom: 10px;
  }
  .colExperiencesNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .roles li:nth-child(1) {
    margin-bottom: 10px;
  }
  .myImgPortfolio {
    max-width: 150px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .project4,
  .project5 {
    margin-bottom: 50px;
  }
  .portfolioGallery ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMeMain {
    margin-top: 100px;
  }
  .aboutMeMain {
    margin-top: 100px;
  }
  .contactMain {
    margin-top: 100px;
  }
  .formAbout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formAbout label {
    width: 100%;
    margin-bottom: 10px;
  }
  .formMisc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formMisc label {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1080px) {
  .mainContent .myImg {
    max-width: 320px;
  }
  .about .aboutMe {
    width: 60%;
    padding-left: 70px;
  }
  .myImgResume {
    max-width: 200px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: reverse;
            flex-direction: reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 50%;
    text-align: right;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-bottom: 50px;
  }
  .skills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skills .fabBorderBot {
    border-bottom: none;
  }
  .skills li {
    width: 85px;
  }
  .skills i {
    font-size: 7rem;
  }
  .skills .devicon i {
    font-size: 6.5rem;
  }
  .skills .fabPadTop {
    margin-top: 0;
  }
  .eduMain {
    margin-bottom: 50px;
  }
  .navEdu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navEdu li {
    margin-bottom: 10px;
  }
  .colExperiencesNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .roles li:nth-child(1) {
    margin-bottom: 10px;
  }
  .myImgPortfolio {
    max-width: 200px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1,
  .project2,
  .project3 {
    margin-bottom: 0;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolioGallery ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMeMain {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1250px) {
  .myImgResume {
    max-width: 250px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: reverse;
            flex-direction: reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 43%;
    text-align: right;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .skills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skills .fabBorderBot {
    border-bottom: none;
  }
  .skills li {
    width: 85px;
  }
  .skills i {
    font-size: 7rem;
  }
  .skills .devicon i {
    font-size: 6.5rem;
  }
  .skills .fabPadTop {
    margin-top: 0;
  }
  .eduMain {
    margin-bottom: 50px;
  }
  .navEdu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navEdu li {
    margin-bottom: 10px;
  }
  .colExperiencesNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .roles li:nth-child(1) {
    margin-bottom: 10px;
  }
  .myImgPortfolio {
    max-width: 250px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .colPortfolioNav {
    margin-top: 50px;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1,
  .project2,
  .project3 {
    margin-bottom: 0;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolioGallery ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMeMain {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1500px) {
  .myImgResume {
    max-width: 250px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: reverse;
            flex-direction: reverse;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 35%;
    text-align: right;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .myImgPortfolio {
    max-width: 250px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .colPortfolioNav {
    margin-top: 50px;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1,
  .project2,
  .project3 {
    margin-bottom: 0;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolioGallery ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMeMain {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1600px) {
  .myImgResume {
    max-width: 300px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: reverse;
            flex-direction: reverse;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 29%;
    text-align: right;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .myImgPortfolio {
    max-width: 300px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .colPortfolioNav {
    margin-top: 50px;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1,
  .project2,
  .project3 {
    margin-bottom: 0;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolioGallery ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMeMain {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  .myImgResume {
    max-width: 300px;
  }
  .myImgResume .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .resumeNavMain {
    margin-bottom: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: reverse;
            flex-direction: reverse;
  }
  .resumeNavMain label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .resumeNavMain .navMainName {
    width: 29%;
    text-align: right;
  }
  .resumeNavMain .colNav {
    margin-top: 0;
  }
  .navResume {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 100px;
  }
  .skillsMain {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .myImgPortfolio {
    max-width: 300px;
  }
  .myImgPortfolio .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .colPortfolioNav {
    margin-top: 50px;
  }
  .expMainNav {
    margin-top: 100px;
  }
  .project1,
  .project2,
  .project3 {
    margin-bottom: 0;
  }
  .project1 .row,
  .project2 .row,
  .project3 .row,
  .project4 .row,
  .project5 .row,
  .project6 .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolioGallery ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMeMain {
    margin-top: 150px;
  }
}

@media only screen and (min-height: 1109px) {
  .backgroundImage {
    background-image: url(../assets/water-architecture-colourful-church-test1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
